@model List<Department>

<a href="/Department/New" style="display:block;padding:10px;margin-bottom:5px">Add New</a>

<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>ManagerName</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td>@item.ManagerName</td>
			</tr>
		}
	</tbody>
</table>
